/* CSS for website */

/*$g2-note-font-color: #4B53C7*/

.g2-note {
    color: #4B53C7;
    /*color: $g2-note-font-color*/
    border-left: 3px solid rgba(104, 146, 222, 0.7);
    padding-left: 10px;
    background-color: rgba(118, 166, 255, 0.2);
}

.g2-note__heading {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.todo-note {
    background-color: rgba(243, 224, 89, 0.2);
    border-left: 4px solid rgba(224, 205, 70, 0.8);
    padding-left: 10px;
    color: rgba(99, 90, 30, 0.9);
    margin-bottom: 25px;
}

.work-in-progress {
    background-color: rgba(0,0,0, 0.1);
    color: #888;
    border-left: 6px solid rgba(0,0,0,.3);
    padding-left: 10px;
}