/* CSS for website */
.g2-note {
    color: #3F47C5;
    border-left: 3px solid rgba(104, 146, 222, 0.7);
    padding-left: 10px;
    background-color: rgba(118, 166, 255, 0.2);
}

.g2-note__g2-title {
    font-weight: bold;
}